<h1>S.T.A.R.S. Members</h1>
<a href="/add">Adicionar Membro</a>
<ul>
  <% members.forEach(member => { %>
    <li>
      <strong><%= member.codinome %></strong> - <%= member.nome %> - <%= member.funcao %> - <%= member.status %> (Nível <%= member.nivel %>)
      <a href="/edit/<%= member.id %>">Editar</a>
      <a href="/delete/<%= member.id %>">Excluir</a>
    </li>
  <% }) %>
</ul>